/*Hero Section*/
#hero {
    display: flex;
    height: 600px;
    padding: 10%;
    align-items: center;
    justify-content: center;
    background-image: url("bgimages/samplehero02.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
}

#hero h1, #hero h2 {
    color: #ffffff;
}

/*.sectionpadding {
    border-bottom: 1px solid #000000;
}*/

#MissionStatement {
    text-align: center;
}

#MissionStatement > h3 {
    background-color: lightgrey;
    padding: 10px;
}

#MissionStatement > p {
    padding-top: 15px;
    padding-left: 45px;
    padding-right: 45px;
}

#TeamAbout {
    text-align: center;
}

#TeamAbout > h3 {
    background-color: lightgrey;
    padding: 10px;
}

#TeamAbout > p {
    padding-top: 15px;
    padding-left: 45px;
    padding-right: 45px;
}

.AboutPerson {
    margin-bottom: 45px;
}

.AboutPerson > h3 {
    background-color: lightgrey;
    padding: 10px;
    text-align: center;
}

.AboutContent {
    display: flex;
}

.AboutContent > img {
    min-width: 125px;
    width: 25%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: auto;
}

.AboutContent > p {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}